body{
    font-family: georgia;
}
#wrapper{
	width:90%;
	margin:0 auto;
}
.home{
    color: black;
	background-color:#ddd;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    width:30%;
	min-height:230px;
    margin: 4px;
    float: left;
}
img{
	width:70%;
	height:210px;
}